.newTask {
  width: 736px;
  display: flex;
  justify-content: space-between;
  margin-top: calc(0px - 1.7rem);
}

.newTask input {
  width: 638px;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--gray-500);
  color: var(--gray-300);
  border: 1px solid var(--gray-700);
}

.newTask button {
  padding: 1rem;
  color: var(--gray-100);
  font-size: 0.875rem;
  background-color: var(--blueDark);
  transition: background 0.3s;
  border-radius: 8px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
}
.newTask button:hover {
  background-color: var(--blue);
}
