.headerList {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.headerList p {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.4;
  color: var(--blue);
}
.headerList p:last-child {
  color: var(--purple);
}

.numerator {
  color: var(--gray-200);
  font-size: 0.75rem;
  line-height: 1.4;
  font-weight: 700;
  padding: 2px 8px;
  background-color: var(--gray-400);
  border-radius: 999px;
  margin-left: 8px;
}
